body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-size: cover;
}

body #login_form_container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Ensures container takes up full viewport height */
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    /* display: center;
    justify-content: center;
    align-items: center; */
}
.login-container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(114, 15, 15);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.form-group button:hover {
    background-color: maroon;
}
